* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

header {
    background-color: #1f2154;
    color: #ffffff;
    font-size: 14px;
}

header a {
    color: #ffffff;
}

/* beginning of nav */
#nav-left {
    height: 65px;
}

#nav-logo {
    height: 100%;
}

#nav-logo img {
    height: 25px;
}

#nav-right {
    height: 65px;
}

#nav-menu {
    margin: 0;
}

#nav-menu > li > a {
    padding: 20px;
    height: 65px;
}

#nav-menu i {
    margin-left: 5px;
}

#nav-icons .icon {
    margin-right: 20px;
}

#nav-icons .icon:first-child {
    position: relative;
}

#nav-icons .shop-counter {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 16px;
    right: -5px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #1f2154;
}

#nav-search {
    position: relative;
}

#nav-search input {
    height: 45px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
}

#nav-search a {
    position: absolute;
    right: 15px;
    color: #1fad96;
}
/* end of nav */

/* beginning of jumbotron */
#jumbotron {
    min-height: 600px;
    background: linear-gradient(0deg, #ffffff 10%, #1f2154 10%);
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
}

#jumbotron p {
    color: #bcbcbc;
}

#jumbotron button {
    background-color: #1fad96;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 900;
}

#jumbotron button:hover {
    color: #1fad96;
    background-color: #ffffff;
}

#jumbotron-images {
    margin-top: 60px;
    position: relative;
}

#jumbotron .central-image {
    position: relative;
    width: 40%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
    z-index: 1;
    box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.66);
}

#jumbotron .central-image img {
    width: 100%;
}

#jumbotron-images .left-image,
#jumbotron-images .right-image {
    width: 18%;
    position: relative;
}

#jumbotron-images .left-image img {
    width: 100%;
}

#jumbotron-images .right-image img {
    width: 67%;
}

#jumbotron-images .right-image img {
    position: absolute;
    left: 0;
    top: 61%;
}

#jumbotron-images .left-image img {
    position: absolute;
    right: -15%;
    bottom: 0;
}
/* end of jumbotron */

section .title {
    text-align: center;
}

/* beginning of info section */
#info {
    background-color: #ffffff;
    padding: 150px 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

#info .quotation .text {
    font-size: 28px;
    margin: 0 0 30px 0;
    font-weight: 700;
}

#info .quotation .author-name {
    font-size: 14px;
    margin: 0 0 10px 0;
}

#info .quotation .author-role {
    color: #9da1aa;
    margin: 0 0 100px 0;
}

#info .number h3 {
    font-weight: 900;
    color: #1fad96;
    font-size: 36px;
}

#info .number h4 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
/* end of info section */

/* beginning of services section */
#services {
    padding-bottom: 100px;
}

#services .card-service {
    min-height: 350px;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

#services .card-service:first-child {
    margin-bottom: 40px;
}

#services .card-service.vertical-offset {
    margin-top: 70px;
}

#services .card-service .description {
    padding: 30px 20px 0;
    word-wrap: break-word;
}

#services .card-service h5 {
    color: #1f2154;
    font-weight: 700;
}

#services .card-service p,
#services .get-started li {
    font-size: 14px;
    line-height: 25px;
    color: #6c6c6c;
}

#services .card-service .service-image {
    padding: 15px 5px 0 5px;
    text-align: center;
}

#services .card-service .service-image img {
    max-width: 100%;
}

#services .card-service.special .service-image {
    padding: 15px 0 0 0;
    text-align: left;
}

#services .card-service img.special {
    max-height: 200px;
}

#services .get-started {
    height: 100%;
    padding: 80px;
}

#services .get-started h6,
#courses .title h6,
#blogs .title h6,
#help .title h6 {
    text-transform: uppercase;
    color: #6c6c6c;
}

#services .get-started h3,
#courses .title h3,
#clients .title h3,
#blogs .title h3,
#help .title h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}

#services .get-started h3 span,
#courses .title h3 span,
#clients .title h3 span,
#blogs .title h3 span,
#help .title h3 span {
    color: #1fad96;
    font-weight: 500;
}

#services .get-started ul {
    margin: 30px 0;
}

#services .get-started ul i {
    color: #1fad96;
    margin-right: 10px;
}

#services .get-started ul li:not(:last-child) {
    margin-bottom: 15px;
}

#services .get-started button {
   background-color: #1fad96;
   color: #ffffff;
   padding: 10px 30px;
   font-weight: 900;
}

#services .get-started button:hover {
    background-color: #1f2154;
}
/* end of services section */

/* beginning of courses section */
#courses,
#blogs {
    background-color: #f6f3f6;
}

#courses,
#blogs,
#clients,
#help,
#cta {
    padding: 100px 0;
}

#courses .title,
#clients .title,
#blogs .title,
#help .title {
    margin-bottom: 80px;
}

#courses .course-card:not(:last-child) {
    margin-bottom: 30px;
}

#courses .course-image img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

#courses .course-description {
    padding: 30px;
}

#courses .course-description .price {
    color: #1fad96;
    font-weight: 900;
    font-size: 20px;
}

#courses .course-description .name {
    min-height: 48px;
    font-weight: 900;
}

#courses .course-description .numbers {
    color: #6c6c6c;
    font-size: 13px;
}

#courses .course-description .numbers i {
    margin-right: 5px;
}

#courses .course-description .numbers .lessons {
    margin-right: 20px;
}
/* end of courses section */

/* beginning of clients section */
#clients .client {
    margin-bottom: 100px;
}

#clients .client-photo {
    position: relative;
    min-height: 250px;
}

#clients .client-photo img:first-child {
    position: relative;
    border-radius: 50%;
    z-index: 1;
}

#clients .client-photo img:last-child {
    position: absolute;
    right: 5px;;
    top: 100px;
}

#clients .client-experience {
    padding-left: 120px;
}

#clients .client-experience .text {
    font-size: 26px;
    font-weight: 500;
    line-height: 45px;
}

#clients .client-experience .client-name {
    font-size: 14px;
    margin: 0 0 10px 0;
}

#clients .client-experience .client-role {
    color: #9da1aa;
}

#clients .logo {
    height: 100%;
}

#clients .logo img {
    max-height: 80%;
}
/* end of clients section */

/* beginning of blogs section */
#blogs .article {
    min-height: 100%;
}

#blogs .article-photo {
    margin-bottom: 30px;
}

#blogs .article-photo img {
    max-width: 100%;
}

#blogs .article-subject {
    text-transform: uppercase;
}

#blogs .article-title {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

#blogs .article-description {
    min-height: 111px;
}

#blogs .article-subject,
#blogs .article-info {
    color: #6c6c6c;
    font-size: 14px;
}

#blogs .article-date {
    margin-right: 30px;
}
/* end of blogs section */

/* beginning of help section */
#help {
    padding-bottom: 0;
    background: linear-gradient(180deg, #ffffff 0%, #f6f3f6 100%);
}

#help .service i {
    font-size: 50px;
    color: #9da1aa;
}

#help .service h5 {
    font-weight: 700;
    margin: 20px 0;
}

#help .service p {
    color: #6c6c6c;
    font-weight: 500;
}

#help .poster {
    position: relative;
    min-height: 460px;
    margin-top: 150px;
}

#help .poster img {
    position: absolute;
    bottom: -31px;
    width: 100%;
}
/* end of help section */
