* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* beginning of header */
header {
    background-color: #1f2154;
    color: #ffffff;
    font-size: 14px;
}

header a {
    color: #ffffff;
}

#header-left {
    height: 65px;
}

#header-logo {
    height: 100%;
}

#header-logo img {
    height: 25px;
}

#header-right {
    height: 65px;
}

#header-menu {
    margin: 0;
}

#header-menu > li > a {
    padding: 20px;
    height: 65px;
}

#header-menu i {
    margin-left: 5px;
}

#header-icons .icon {
    margin-right: 20px;
}

#header-icons .icon:first-child {
    position: relative;
}

#header-icons .shop-counter {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 16px;
    right: -5px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #1f2154;
}

#header-search {
    position: relative;
}

#header-search input {
    height: 45px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
}

#header-search a {
    position: absolute;
    right: 15px;
    color: #1fad96;
}
/* end of header */

/* beginning of jumbotron */
#jumbotron {
    min-height: 500px;
    background-color: #1f2154;
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
}

#jumbotron p {
    color: #bcbcbc;
}

#jumbotron button {
    background-color: #1fad96;
    color: #ffffff;
    padding: 10px 30px;
}

#jumbotron button:hover {
    color: #1fad96;
    background-color: #ffffff;
}
/* end of jumbotron */
